html,
body {
    overflow-x: hidden;
}

section.resume-section {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 75rem;
}

.portfolio-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

section.resume-section .resume-section-content {
    width: 100%;
}

@media (min-width: 768px) {

    section.resume-section,
    .portfolio-section {
        min-height: 100vh;
    }
}

@media (min-width: 992px) {

    section.resume-section,
    .portfolio-section {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

.profile-container {
    width: 53% !important;
}

.img-profile {
    filter: grayscale(100%);
    transition: filter 1s;
}

.img-profile:hover {
    filter: none;
}

.navbar {
    max-width: 100vw;
    align-items: center;
    align-content: center;
}

.nav-item {
    width: 100%;
}

.navbar-nav .nav-link.active {
    text-decoration: underline solid 0.15em;
    text-decoration-color: #3a18d2;
    text-underline-offset: 0.5em;
    transition: text-decoration 1s ease-in-out;
    transition: text-decoration-color 0.5s ease-in-out;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline solid 0.15em;
    text-decoration-color: #3a18d2;
    text-underline-offset: 0.5rem;
    transition: text-decoration 0.5s ease-out;
    transition: text-decoration-color 0s;
}

.navbar .social-links {
    font-size: 30px;
}

.navbar .navbar-toggler:focus {
    box-shadow: 0 0 0 2px;
    color: #3a18d2;
}

.navbar .navbar-toggler:hover {
    box-shadow: 0 0 0 2px;
    color: #3a18d2;
}

.navbar .navbar-toggler.collapsed {
    box-shadow: none;
}

.navbar .navbar-toggler.collapsed:focus {
    box-shadow: none;
}

#intro {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.85)),
        url("https://images.unsplash.com/photo-1522252234503-e356532cafd5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=725&q=80");
    background-position: center;
    background-size: cover;
}

.hero-title {
    font-family: var(--bs-body-font-family);
    color: white;
}

.hero-subtitle {
    font-family: var(--bs-body-font-family);
    font-size: 1.25rem;
    letter-spacing: 2px;
    text-transform: none;
    color: rgb(179, 179, 179);
    line-height: 45px;
}

.hero-subtitle span {
    /* color: rgba(255, 255, 255, 0.9); */
    color: rgb(179, 179, 179);
    text-decoration: underline #3a18d2;
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 2px;
}

.lead,
p.lead {
    color: rgb(179, 179, 179);
    font-size: 1.2rem;
    font-weight: 300;
}

#skills,
#portfolio {
    background-color: #dfdfdf7e;
}

#education {
    background-color: #f8f9faa6;
}

#contact {
    background-color: #f7f7f7;
}

.shadow-card {
    box-shadow: 0px 0px 1rem 1px rgba(0, 0, 0, 0.2);
    background-color: #FBFBFB;
}

.card {
    min-width: 346px !important;
    max-width: 420px;
}

.card-body .btn:hover {
    transform: none;
    transition: color 0.5s ease-out;
}

.card-body a.nav-link:hover {
    color: #3a18d2 !important;
}

.modal-dialog {
    opacity: 0.97;
}

.modal-header {
    background-color: rgba(0, 0, 0, 0.99);
    color: white;
}

.modal-title {
    text-align: start;
    font-size: 23px;
    font-weight: 600;
    font-family: var(--bs-body-font-family);
    text-transform: none;

}

.modal-footer {
    height: 60px;
    align-content: center;
}

.modal-footer .btn {
    padding-bottom: 10px;
    padding-top: 10px;
}

.modal-footer .btn:hover {
    transition: none;
}

.carousel .carousel-control-next-icon,
.carousel .carousel-control-prev-icon {
        filter: brightness(0.5) drop-shadow(2px 4px 10px black);
}

.dev-icons div {
    align-content: space-between;
    align-items: center;
    row-gap: 30px;
    column-gap: 15px;
    justify-content: center;
    max-width: 1000px;
}

.dev-icons img {
    height: 65px;
}

.dev-icons img[alt=python] {
    height: 70px;
}
.dev-icons img[alt=laravel] {
    height: 75px;
}

.dev-icons img[alt=php] {
    height: 55px;
}

.dev-icons img[alt=github] {
    height: 60px;
}

@media (max-width: 500px) {
    .dev-icons div {
        align-content: space-between;
        row-gap: 30px;
        column-gap: 0;
        justify-content: space-evenly;
        max-width: 1000px;
    }

    .dev-icons img {
        height: 46px;
    }

    .dev-icons img[alt=python] {
        height: 48px;
    }

    .dev-icons img[alt=github] {
    height: 44px;
}
}

.fa-check {
    color: #3a18d2 !important;
}

form .subheading>span {
    text-decoration: underline solid 2px;
    text-decoration-color: #3a18d2;
    text-underline-offset: 0.35em;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-box.email a {
    text-decoration: none;
}

.info-box.email a:hover {
    text-decoration:#3a18d2 underline;
}

.social-icon:hover {
    background-color: #3a18d2 !important;
    transition: background-color 0.3s ease-in-out;
}

.whatsapp:hover,
.github:hover,
.linkedin:hover {
    color: #3a18d2e5;
    transition: color 0.1s;
}

.whatsapp,
.github,
.linkedin {
    color: var(--bs-body-color);
    margin-right: 0.25rem;
}

div>h2>span {
    text-decoration: underline #3a18d2;
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 2px;
}

.btn {
    border-radius: 2%;
    background: none !important;
    font-size: 0.7rem !important;
    color: #3a18d2 !important;
    border-color: #3a18d2 !important;
}

.btn#cv-link {
    background-color: #3a18d2 !important;
}

.btn#cv-link:hover {
    background-color: #3a18d2d2 !important;
}

.btn:hover {
    background-color: #3a18d2 !important;
    color: white !important;
    transform: translateY(-1.5px);
    transition: background-color 0.25s;
    transition: color 0.25s;
    transition: transform 0.15s ease-out;

}

/* Navbar Responsiveness */

#sideNav {
    padding-left: 1rem;
    padding-right: 1rem;
}

#sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: 17rem;
        }

    #sideNav {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 17rem;
        height: 100vh;
    }

    #sideNav .navbar-brand {
        display: flex;
        margin: auto auto 0;
        padding: 0.5rem;
    }

    #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(255, 255, 255, 0.2);
    }

    #sideNav .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
    }

    #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item {
        display: block;
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: block;
    }

    .modal-dialog {
        min-width: 93vw;
    }
}

@media (min-width: 1200px) {
    .modal-dialog {
        min-width: 88vw;
    }
}

/* Overall responsiveness */

@media (max-width:992px) {
    .profile-container {
        width: 50% !important;
    }
    
    .img-profile {
        height: 132px;
        width: 137px;
        filter:none;
    }

    .navbar .social-links {
    padding-right: 4px;
    }

    div.profile-container {
        padding-right: 40px;
    }

    .navbar {
        --bs-navbar-padding-y: 0.75rem !important;
    }

    .modal-dialog {
        min-width: 95vw;
    }

    .portfolio-section {
        padding-left: 20px;
        padding-right: 20px;
    }
}
    
@media (max-width:768px) {
    .modal-dialog {
        min-width: 97vw;
    }

    .modal-header {
        --bs-modal-header-padding: 0.6rem 1rem
    }

    .modal-footer {
        height: 50px;
    }

    .modal-footer .btn {
        padding: 5px 20px;
    }
}

@media (max-width:576px) {

    .resume-section, portfolio-section {
        padding-right: 0.75rem;
        padding-left: 0.75rem;
    }

    .modal-dialog {
        --bs-modal-margin: 0.5rem 0.1rem;
    }

    .modal-body {
        --bs-modal-padding: 0.5rem 0.3rem;
    }

    .form-control {
        padding: 0.75rem 0.5rem !important;
    }
}

@media (max-width:450px) {

    .modal-header {
    flex-direction: column;
    }
    
    .modal-header > div,
    .modal-header > h5 {
        flex: 0 0 auto;
        width: 100%;
    }

    .modal-header > div {
        justify-content: space-around !important;
    }

    .modal-header .nav-link {
        font-size: 18px;
        margin-top: 6px;
    }

    .modal-title {
        font-size: 22px;
        text-align: center;
    }
}

@media (max-width:410px) {

    section.resume-section,
    .portfolio-section {
        padding-top: 5rem;
        padding-bottom: 3rem;
    }

    #sideNav {
    padding-left: 12px;
    padding-right: 12px;
    }

    .navbar-brand span {
        font-size: 23px;
    }

    div.profile-container {
        padding-right: 35px;
    }

    .profile-container .social-links {
        margin-left: 16px;
    }

    .social-icons .social-icon {
        margin-right: 0.90rem;
    }

    .social-icons div:first-of-type {
        margin-bottom: 2.5rem !important;
    }

    .hero-subtitle {
        font-size: 22px;
    }

    .hero-subtitle span {
    line-height: 40px;
    }

    .subheading {
        font-size: 1.3rem;
    }

    .album .col-11 {
        width: 100%
    }

    .card {
        width: 100%;
        min-width: 200px !important;
    }

    .card-body {
        --bs-card-spacer-x: 0.5rem;
    }

    .card .card-btn {
        width: 75% !important;
        font-size: 0.65rem !important;
        --bs-btn-padding-x: 0.1rem;
        --bs-btn-padding-y: 0.35rem;
    }

    .card-text {
        margin-bottom: 0.4rem;
        font-size: 0.95rem;
    }

    #email-domain {
        display: block;
    }
}