.img-profile {
    filter: grayscale(100%);
    border-color: white;
    transition: filter 1s;
}

.img-profile:hover {
    filter: none;
}


#intro {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.85)), url("https://images.unsplash.com/photo-1522252234503-e356532cafd5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=725&q=80");
        background-position: center;
        background-size: cover;
}

.lead {
    color: rgb(179, 179, 179);
}

#skills {
    background-color: #dfdfdf7e;
}

.album {
    background-color: #f7f7f7;
}

#contact {
    background-color: #f7f7f7;
}

.whatsapp:hover, .github:hover, .linkedin:hover {
    color: silver;
    transform: translateY(-2.1rem);
    transition: color 0.5s e;
}

/* body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1559521783-1d1599583485?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
} */